.home-page {
    background-image: url('/imgs/home/bkg.svg');
    background-size: cover;
}

.home-page h1 {
    color: #B39898;
}

.home-page h2 {
    color: #B39898;
}

.home-page h4 {
    color: #B39898;
}

.home-page h5 {
    color: #D9A5A6;
    font-weight: 200;
}

.home-page .logo {
    width: 286px;
    margin: 64px 0 40px -21px;
}

.home-page .img-header {
    width: 576px;
    margin: 380px 0 0;
}


.home-page .features {
    font-size: 18px;
    color: #D9A5A6;
    font-weight: 500;
}

.home-page .my-button {
    margin-top: 40px;
    width: 188px;
}

.home-page .info-section {
    padding: 200px 0;
}

.home-page .info-section .img-info {
    width: 364px;
}

.home-page .how-works {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 104px;
}

.home-page .how-works .group-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 48px;
}

.home-page .how-works .group-cards .each-card {
    height: 278px;
    width: 258px;
    border: 6px solid #FCCCD2;
    border-radius: 10px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 36px 60px;
    text-align: center;
    margin-right: 24px;
}

.home-page .how-works .group-cards .each-card .icons {
    width: 18px;
}

.home-page .how-works .group-cards .each-card .icons img {
    object-fit: contain;
    object-position: top;
}