.portfolio-creator {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 256px;
    padding: 24px;
}

.portfolio-creator .all-elements {
    min-width: 100%;
    display: flex;

}

.portfolio-creator .all-elements .selector {
    width: 20%;
    height: 100vh;
    overflow: scroll;
    padding: 24px;
    background-color: #FDFBFB;
    border-radius: 20px;

}

.portfolio-creator .all-elements .selector .section-title {
    color: #B39898;
    font-weight: 700;
    margin: 24px 0;
    font-size: 21px;
    text-align: center;
    border-top: #FCCCD2 1px solid;
    border-bottom: #FCCCD2 1px solid;
    padding: 24px 0;
}

.portfolio-creator .all-elements .selector .selector-tag {
    background-color: #f5f6f9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    overflow: hidden;
    max-width: 95%;
    padding: 16px;
    border-radius: 10px;
    margin: 12px 8px;
    cursor: grabbing;
}

.portfolio-creator .all-elements .portfolio-constructor {
    width: 79%;
    margin-left: 1%;
    height: 100vh;
    border: 6px solid #FDFBFB;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    overflow: scroll;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.portfolio-creator .all-elements .portfolio-constructor .portfolio-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    border-radius: 20px;
    margin: 40px 0 0;
    padding: 24px;
}

.portfolio-creator .all-elements .portfolio-constructor .portfolio-content .end-container {
    background-color: #FDFBFB;
    border: solid 6px #ffffff;
    padding: 40px;
    border-radius: 20px;
    margin: 12px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.portfolio-creator .all-elements .portfolio-constructor .portfolio-content .end-container.ed-receptor {
    background-image: url('/imgs/portfolio/education.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-blend-mode: luminosity;
    background-size: 21em;
}

.portfolio-creator .all-elements .portfolio-constructor .portfolio-content .end-container.job-receptor {
    background-image: url('/imgs/portfolio/job.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-blend-mode: luminosity;
    background-size: 16em;
}

.portfolio-creator .all-elements .portfolio-constructor .portfolio-content .end-container.social-receptor {
    background-image: url('/imgs/portfolio/social.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-blend-mode: luminosity;
    background-size: 18em;
}

.portfolio-creator .all-elements .portfolio-constructor .portfolio-content .end-container.skill-receptor {
    background-image: url('/imgs/portfolio/skill.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-blend-mode: luminosity;
    background-size: 18em;
}

.portfolio-creator .all-elements .portfolio-constructor .portfolio-content .end-container.work-receptor {
    background-image: url('/imgs/portfolio/work.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-blend-mode: luminosity;
    background-size: 20em;
}

.portfolio-creator .all-elements .portfolio-constructor .portfolio-content .end-container .new-add,
.portfolio-creator .all-elements .portfolio-constructor .portfolio-content .end-container .work-receptor .new-add {
    border: solid 1px #FCCCD2;
    background-color: white;
    overflow: hidden;
    max-width: 20%;
    padding: 16px;
    border-radius: 10px;
    margin: 12px 1%;
}