.home-dash {
    display: flex;
    width: 98%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-left: 256px;
    height: 100vh;
}

.home-dash h4 {
    color: #B39898;
}

.home-dash .welcome-box {
    width: 98%;
    height: 300px;
    border-radius: 20px;
    background-color: #FDFBFB;
    padding: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.home-dash .welcome-box p {
    width: 400px;
    margin-top: 24px;
}

.home-dash .home-portfolios {
    border: 6px solid #FDFBFB;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    padding: 32px;
    margin: 16px 0;
    width: 98%;
    display: flex;
    flex-direction: column;
}


.home-dash .home-portfolios .every-portfolio .each-portfolio {
    background-color: #FDFBFB;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 24px;
    width: 300px;
    margin: 24px 24px 0 0;
}
.home-dash .home-portfolios .every-portfolio .each-portfolio .portfolio-link {
    display: flex;
    align-items: center;
}

.home-dash .home-portfolios .every-portfolio .each-portfolio:hover {
    border: 6px solid #B39898;
    padding: 18px;
    color: #B39898;
}

.home-dash .home-portfolios .every-portfolio .each-portfolio.add {
    background-color: #F5F6F9;
    width: 250px;
}

.home-dash .home-portfolios .every-portfolio .each-portfolio figure {
    width: 44px;
    height: 44px;
    overflow: hidden;
    margin: 0;
}

.home-dash .home-portfolios .every-portfolio .each-portfolio img {
    object-fit: cover;
    object-position: center;
}

.home-dash .home-portfolios .each-portfolio .title-portfolio {
    color: #FCCCD2;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 21px;
    margin: 0 0 0 16px;
}

.home-dash .home-portfolios .each-portfolio .title-portfolio:hover {
    color: #B39898;
    text-decoration: none;
}

.home-dash .home-portfolios .each-portfolio .add-portfolio {
    color: #F0D1D2;
    font-size: 18px;
    letter-spacing: 0.34px;
    line-height: 22px;
    margin: 0;
}