.dashPage {
    display: flex;
    height: 100vh;
}

.dashPage .dashInfo {
    width: 100%;
    padding: 0 32px 0;

}

.dashPage h4 {
   color:#B39898;
}

.dashPage .dashInfo .welcomeBox {
       width: 98%;
       height: 300px;
       border-radius: 20px;
       background-color: #FDFBFB;
       padding: 32px;
       display: flex;
       justify-content: space-between;
       align-items: center;

}
.dashPage .dashInfo .welcomeBox p {
    width: 400px;
    margin-top: 24px;
}

