.dashPage {
    display: flex;
    justify-content: space-between;
    max-height: 95vh;
    overflow: scroll;
    margin-top: 16px;
    background-image: url('/imgs/home/bkg.svg');
    background-size: cover;
    background-attachment: scroll;

}